body {
  background-color: #C6CEBF !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
  margin: 0;
}

text {
  color: #212123;
}

section {
  position: relative;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  padding: 0px;
  margin: 0 auto;
}

.a-container {
  background-color: #212123;
  margin: 90px 50px;
  border-radius: 20px;
  padding: 30px 20px;
  height: auto;
  overflow: auto;
}

.custom-title {
  font-weight: 700;
  font-size: 45px;
  color: #212123;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
  font-kerning: auto;
}

.custom-title2 {
  font-weight: 700;
  font-size: 30px;
  color: #212123;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
  font-kerning: auto;
}

.custom-card {
  padding: 50px 35px !important;
  margin: 10px;
  background-color: yellow;
  border-radius: 20px;
}

.styled-button {
  background-color: #212123;
  width: max-content;
  padding: 10px 0px;
  border-radius: 5px;
  transition: 0.2s;
  margin-left: 15px;
}

.styled-button:hover {
  background-color: #D8F366;
  cursor: pointer;
}

.styled-button a {
  color: white;
  padding: 30px;
  text-decoration: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
}

.styled-button:hover a {
  color: #212123;
}

/*                */
/* Navbar Section */
/*                */



/*               */
/* Header Begin  */
/*               */


#header {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
  margin-top: 140px;
}

.header-card {
  width: 45%;
  float: none;
  display: inline-block;
  padding: 15px;
}

#header img {
  width: 100%;
}

.header-details {
  padding: 15px 0px;
  color: #707070;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
      "Helvetica Neue", sans-serif;
}


/*               */
/* Stats Begin   */
/*               */


#stats {
  padding: 20px;
}

#stats .custom-card {
  max-width: max-content;
}


/*               */
/* Stats End     */
/*               */



/*                      */
/* Disciplines Begin    */
/*                      */

#disciplines-covered {
  padding: 50px;
  height: fit-content !important;
}

.node {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: inline-block;
  transition: all 1000ms ease;
}

.divider {
  height: 65px;
  width: 2px;
  margin-left: 9px;
  transition: all 800ms ease;
}

.green {
  background-color: #D8F366;
}

.grey {
  background-color: rgba(201, 201, 201, 1);
}

#progress li {
  list-style: none;
  /* line-height: 1px; */
}

.details {
  display:inline-block;
  /* min-height: 30px; */
  color: white;
  margin-bottom: 10px;
}

.det-head {
  size: 20px;
  font-weight: 600;
}

.det-sub {
  font-size: 12px;
}

.details .det-title {
  font-weight: 600;
}

.details .det-body {
  font-size: 12px;
  margin-top: 20px;
  min-height: min-content;
}

.tab-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: white;
}

.tab button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  width: 50%;
  background-color: #E7EBE7;
  margin: 0;
}

.tablinks {
  /* padding: 0 !important; */
  margin: 0 !important;
}

.active-tab {
  background-color: white;
  border: 0;
  outline: 0;
}

.tab {
  width: 100%;
}

.tabcontent {
  overflow: auto;
  display: none;
  padding: 6px 12px;
  border-top: none;
  height: fit-content;
}



/*                    */
/* Disciplines End    */
/*                    */




/*                      */
/* Disciplines Begin    */
/*                      */





@media (max-width:770px) {
  #header img {
    display: none;
  }

  #header .custom-title {
    font-size: 30px;
  }
}




